PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=petete
DB_SSLMODE=disable
JWT_SECRET=canvia_aquest_secret_per_un_de_produccio_molt_segur_32chars
MIGRATIONS_PATH=./migrations
